<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="productForm.css">
</head>

<body>
  <!-- Hello, world! -->
  <h1>

    <div class="formcontainer">
      <form action="/productDetails/update/<%= product._id %>" method="POST">


        <label for="title">Title</label>
        <input type="text" placeholder="title" name="title" value="<%= product.title%>">

        <label for="Description">Description</label>
        <input type="text" placeholder="Description" name="description" value="<%= product.description%>">

        <label for="Category">Category</label>
        <input type="text" placeholder="Category" name="category" value="<%= product.category%>">

        <label for="Image">Image</label>
        <input type="file" placeholder="Choose file" name="image" value="<%= product.image%>">

        <label for="Price">Price</label>
        <input type="text" placeholder="Price" name="price" value="<%= product.price%>">

        <button type="submit">Submit</button>
      </form>
    </div>
  </h1>
</body>

</html>