<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/productDetail.css">
</head>

<body>
    <!-- <div class="nav">
        <h1><%= product.title %></h1>
    </div> -->
    <div class="mainDiv">
        <div class="left">
            <img src="<%= product.image %>">
        </div>
        <div class="right">
            <div class="contentDiv">
                <h1>
                    <%= product.title %>
                </h1>
                <h4>
                    <%= product.description %>
                </h4>
                <h2>
                    <%= product.price %>
                </h2>
                <h5>
                    <%= product.category %>
                </h5>
            </div>
            <div class="btnsDiv">
                <button><a href="/productDetail/update/<%= product._id %>">Update</a></button>
                <button><a href="/productDetail/delete/<%= product._id %>">Delete</a></button>
            </div>
        </div>
    </div>

</body>

</html>