<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link href="/productForm.css" rel="stylesheet">
</head>

<body>
    <nav>
        <h1>Update Product</h1>

    </nav>
    <form method="post" enctype="multipart/form-data" action="/productDetail/update/<%= product._id %>">
        <label for="title">Title :</label>
        <input placeholder="Enter Title" type="text" name="title" value="<%= product.title %>"><br>
        <label for="description">Description :</label>
        <input placeholder="Enter Description" type="text" name="description" value="<%= product.description %>"><br>
        <label for="category">Category :</label>
        <input placeholder="Enter category" type="text" name="category" value="<%= product.category %>"><br>
        <label for="price">Price :</label>
        <input placeholder="Enter price" type="text" name="price" value="<%= product.price %>"><br>
        <label for="image">Image :</label>
        <input type="file" name="image" accept="image" ><br> <!---->
        <button class="btn" type="submit">Submit</button>
    </form>
    
</body>

</html>